body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-family: 'CustomFont3', sans-serif;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #c5810d;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-right: 40px;
    font-size: 16px;
    font-family: 'CustomFont3', sans-serif;
}
.button:hover {
    background-color: #a46e0a;
}
.button-styling {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-right: 40px;
    font-size: 16px;
    font-family: 'CustomFont3', sans-serif;
}