
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(185, 44, 44);
}

.search-container {
    background-color: #fff;
    background-image:url(componets/atl.jpg);
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-family: 'CustomFont3', sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
}

.button {
    background-color: #c5810d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #a46e0a;
}
